---
import Layout from '@/layouts/Layout.astro'
import Nav from '@/components/Nav.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import Experience from '@/components/Experience.astro'
import Projects from '@/components/Projects.astro'

export function getStaticPaths() {
  return [{ params: { locale: 'en' } }, { params: { locale: 'es' } }]
}
---

<Layout>
  <Nav />
  <div class="z-10 max-w-4xl space-y-44 mx-auto">
    <Header />
    <main>
      <Experience />
      <Projects />
    </main>
    <Footer />
  </div>
</Layout>
