---
import Section from '@/layouts/Section.astro'
import WorkHistory from '@/icons/WorkHistory.astro'
---

<Section id="experience" title="Experience">
  <WorkHistory slot="icon" class="size-8 inline-block" />
</Section>
