<footer class="text-center mt-24">
  <h4 class="text-neutral-400">
    Created by <a
      href="https://github.com/francolloveras"
      target="_blank"
      referrerpolicy="no-referrer"
      class="hover:underline"
    >
      Franco Lloveras
    </a> with ❤️
  </h4>
  <p class="text-neutral-500 text-sm">
    Design inspired by
    <a href="https://porfolio.dev/" target="_blank" referrerpolicy="no-referrer" class="underline">
      Midudev porfolio
    </a>
  </p>
</footer>
