---
import Language from '@/icons/Language.astro'
import DarkMode from '@/icons/DarkMode.astro'
---

<nav class="py-4 mx-20 flex justify-between items-center text-neutral-100">
  <div class="w-[56px]"></div>
  <ul class="flex items-center gap-4">
    <li class="hover:text-red-400 transition-colors">
      <a href="#experience">Experience</a>
    </li>
    <li class="hover:text-red-400 transition-colors">
      <a href="#projects">Projects</a>
    </li>
    <li class="hover:text-red-400 transition-colors">
      <a href="#about-me">About me</a>
    </li>
    <li class="hover:text-red-400 transition-colors">
      <a href="#contact">Contact</a>
    </li>
    <li class="hover:text-red-400 transition-colors">
      <a href="/today-i-learned">Blog</a>
    </li>
  </ul>
  <ul class="flex items-center gap-4">
    <li class="size-[22px]">
      <button class="hover:text-red-400 transition-colors">
        <DarkMode />
      </button>
    </li>
    <li class="size-[22px]">
      <button class="hover:text-red-400 transition-colors">
        <Language />
      </button>
    </li>
  </ul>
</nav>
