---
import Language from '@/icons/Language.astro'
import DarkMode from '@/icons/DarkMode.astro'
import ArrowOutward from '@/icons/ArrowOutward.astro'
---

<nav class="py-4 mx-20 flex justify-between items-center text-neutral-100">
  <div class="w-[188.58px]"></div>
  <ul class="flex items-center gap-4">
    <li class="hover:text-red-400 transition-colors">
      <a href="#experience">Experience</a>
    </li>
    <li class="hover:text-red-400 transition-colors">
      <a href="#projects">Projects</a>
    </li>
    <li class="hover:text-red-400 transition-colors">
      <a href="#about-me">About me</a>
    </li>
    <li class="hover:text-red-400 transition-colors">
      <a href="#contact">Contact</a>
    </li>
  </ul>
  <ul class="flex items-center gap-4">
    <li class="size-5">
      <button class="hover:text-red-400 transition-colors">
        <DarkMode />
      </button>
    </li>
    <li class="size-5">
      <button class="hover:text-red-400 transition-colors">
        <Language />
      </button>
    </li>
    <li class="hover:text-red-400 transition-colors">
      <a href="/today-i-learned" target="_blank" class="inline-flex items-start gap-0.5">
        Today I Learned
        <ArrowOutward class="size-4" />
      </a>
    </li>
  </ul>
</nav>
