---
import Section from '@/layouts/Section.astro'
import Development from '@/icons/Development.astro'
---

<Section id="projects" title="Projects">
  <Development slot="icon" class="size-8 inline-block" />
</Section>
