---
const { locale } = Astro.params
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Franco Lloveras web programmer porfolio." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Franco Lloveras - Porfolio</title>
  </head>
  <body class="relative flex flex-col gap-y-28 bg-neutral-900 text-neutral-200">
    <div
      class="absolute -z-50 top-0 left-1/2 -translate-x-1/2 min-h-screen w-full bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(64,64,64,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'Rubik';
    src: url('/fonts/rubik.ttf') format('truetype');
  }

  :root {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Rubik', sans-serif;
  }
</style>
